<ion-view cache-view="true">
  <ion-nav-title>
    Feedback
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <mc-sync-spinner></mc-sync-spinner>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="card" data-ng-form="feedbackForm">
      <div class="item item-divider">Feedback Details</div>

      <div class="item item-text-wrap">

        <label class="item item-input item-select">
          <div class="input-label">
            Type
          </div>
          <select ng-model="feedbackControllerViewModel.feedback.mobilecaddy1__Type__c" required>
            <option value="">Please Select</option>
            <option value="Bug">Bug</option>
            <option value="Question">Question</option>
            <option value="Suggestion">Suggestion</option>
          </select>
        </label>


        <div class="row">
          <div class="col">
            <div>Comments</div>
            <div>
            <textarea class="tops-input tops-dashboard-textarea"
                      ng-model="feedbackControllerViewModel.feedback.mobilecaddy1__Comment__c" required
                      rows="7" placeholder="Comments..." maxlength="32768"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-positive" ng-disabled="feedbackForm.$invalid" ng-click="feedbackControllerViewModel.submitFeedback()">Send Feedback</button>
          </div>
          <div class="col text-right">
            <button class="button button-light" ng-click="feedbackControllerViewModel.clearFeedback()">Clear</button>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
