<ion-view title="Debug Tools">
	<ion-content>
  	<ion-list>
    	<div class="list list-inset">
    		<a class="item item-icon-left" href="#/tab/settings/mti">
    	    	<i class="icon ion-soup-can-outline"></i>
    	    	Mobile Table Inspector
    		</a>
        <a class="item item-icon-left" href="#/tab/settings/testing">
            <i class="icon ion-erlenmeyer-flask"></i>
            Testing Resources
        </a>
        <div ng-if="codeflow == true">
            <a class="item item-icon-left" href="#/tab/settings/deploy">
            <i class="icon ion-upload"></i>
            Deploy to Salesforce
            </a>
        </div>
        <a class="item item-icon-left"  ng-click="showConfirmReset()">
            <i class="icon ion-nuclear"></i>
            Reset Application
        </a>
      </div>

      <div class="list card" ng-controller="SettingsHBCtrl">
          <div class="item item-divider" >
              Heartbeat Setting
          </div>
          <ion-radio ng-change="hbUpdate()" ng-model="heartbeatStatus" ng-value="'100100'">Online (100100)</ion-radio>
          <ion-radio ng-change="hbUpdate()" ng-model="heartbeatStatus" ng-value="'100101'">Exception (100101)</ion-radio>
          <ion-radio ng-change="hbUpdate()" ng-model="heartbeatStatus" ng-value="'100102'">Failure (100102)</ion-radio>
          <ion-radio ng-change="hbUpdate()" ng-model="heartbeatStatus" ng-value="'100103'">No Connection (100103)</ion-radio>
          <ion-radio ng-change="hbUpdate()" ng-model="heartbeatStatus" ng-value="'100104'">Not Device (100104)</ion-radio>
          <ion-radio ng-change="hbUpdate()" ng-model="heartbeatStatus" ng-value="'100105'">HB Refresh OK (100105)</ion-radio>
      </div>

    	<div class="card">
    		<div class="item item-divider">
          <h4>Application Details</h4>
        </div>
        <div class="item item-text-wrap">

          <div class="row">
              <div class="col">
              <p>Build</p>
              </div>
               <div class="col">
               <p>{{ settingsRecs.buildName }}.B{{ settingsRecs.buildVersion }}.D{{ settingsRecs.dynVersionNumber }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
              <p>User</p>
              </div>
               <div class="col">
               <p>TBC</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
              <p>Platform</p>
              </div>
               <div class="col">
               <p>{{ settingsRecs.buildOS }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
              <p>sysDataVersion</p>
              </div>
               <div class="col">
               <p>{{ settingsRecs.sysDataVersion }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
              <p>sysDataPlatSupVersion</p>
              </div>
               <div class="col">
               <p>{{ settingsRecs.sysDataPlatSupVersion }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
              <p>versionUtilsVersion</p>
              </div>
               <div class="col">
               <p>{{ settingsRecs.versionUtilsVersion }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
              <p>dynVersionNumber</p>
              </div>
               <div class="col">
               <p>{{ settingsRecs.dynVersionNumber }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
              <p>syncRefreshVersion</p>
              </div>
               <div class="col">
               <p>{{ settingsRecs.syncRefreshVersion }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col col-75">
              <p>Sync Pending</p>
              </div>
               <div class="col">
               <p>0</p>
              </div>
          </div>

          <div class="row">
              <div class="col col-75">
              <p>Record Issues</p>
              </div>
               <div class="col">
               <p>0</p>
              </div>
          </div>

          <div class="row">
              <div class="col col-75">
              <p>Session Queue</p>
              </div>
               <div class="col">
               <p>0</p>
              </div>
          </div>

        </div>
      </div>
  	</ion-list>
  </ion-content>
</ion-view>