<ion-view title="Testing Resources">
	<ion-content> 
	<ion-list>
	<div class="list list-inset">
		<a class="item item-icon-left" href="#/tab/settings/mti">
	    	<i class="icon ion-android-storage"></i>
	    	Mobile Table Inspector
		</a>	
		<a class="item item-icon-left"  ng-click="m2pUpdateVehicles()">
	    	<i class="icon ion-ios7-play"></i>
	    	M2P Update Vehicles
		</a>	
		<a class="item item-icon-left"  ng-click="newRecWithoutEmail()">
	    	<i class="icon ion-ios7-play"></i>
	    	Create a Record without email
		</a>	
		<a class="item item-icon-left"  ng-click="newRecWithEmail()">
	    	<i class="icon ion-ios7-play"></i>
	    	Create a Record with email
		</a>	
		<a class="item item-icon-left"  ng-click="m2pUpdateConnSess()">
	    	<i class="icon ion-ios7-play"></i>
	    	M2P Update Conn Sess
		</a>	
		<a class="item item-icon-left"  ng-click="syncRefreshVehicles()">
	    	<i class="icon ion-ios7-play"></i>
	    	Sync Refresh Vehicles
		</a>	
		<a class="item item-icon-left"  ng-click="insertMultipleRcs()">
	    	<i class="icon ion-ios7-play"></i>
	    	Insert Multiple Records
		</a>	
		<a class="item item-icon-left"  ng-click="updateAllVehicleRecs()">
	    	<i class="icon ion-ios7-play"></i>
	    	Update all vehicle Records
		</a>	
	</div>
	</ion-list>
  </ion-content>
</ion-view>