<ion-view title="Testing Resources">
	<ion-content>
	<ion-list>
	<div class="list list-inset">
		<a class="item item-icon-left" href="#/tab/settings/mti">
    	<i class="icon ion-android-storage"></i>
    	Mobile Table Inspector
		</a>
		<a class="item item-icon-left"  ng-click="refreshAll()">
    	<i class="icon ion-ios7-play"></i>
    	Refresh all tables
		</a>
		<a class="item item-icon-left" ng-click="resumeEvent()">
    	<i class="icon ion-ios7-play"></i>
    	Test Resume Event
		</a>
	</div>
	</ion-list>
  </ion-content>
</ion-view>