// Import MobileCaddy SCSS
@import 'mobilecaddy';

// Ionic overrides

$positive:							#2aa3fe;
$item-divider-bg:				#caecd3;
$list-header-color:			#caecd3;
$button-light-border:		#7fd291;

@import "ionic/ionic";

//  A P P    S T A R T    P A G E
#start-page {
  // Could style your apps startpage here.
  height: 100%;
}

#start-page .card {
  box-shadow: none;
  background-color : transparent;
}

#start-page .card .item {
  border: 0;
  background-color : transparent;
}

// your slick app styles can go here...

ion-nav-view { background-color: #fff; }

a.item-content:hover{
	background-color: $item-divider-bg;}

.card {box-shadow: 0 1px 1px $button-light-border;}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}

.console-message .ok {
	color: green;
}

.console-message .info {
  color: blue;
}

.console-message .final {
  font-weight : bold;
}
.console-message .error {
  color: red;
  font-weight: bold;
}
.console-message .ion-checkmark-round, .console-message .ion-close-round, .console-message .ion-information-circled  {
  margin-right: 0.5em;
}