# sublime files
*.sublime-project
*.sublime-workspace

*.zip

node_modules
tmp
codeflow
dest
www/js/*.log
.sass-cache

# ignore app.css as this is created by the sass
www/css/app.*

# ignore automagically created JS files
www/js/services.js

# Mock and dep stuff
www/lib/js/ionic.bundle.min.js
www/lib/js/ng-cordova.min.js
www/fonts/ionicons*
scss/ionic
oauthcallback.html

